.contact-form {
  display: flex;
  flex-direction: column;
  padding: 60px 100px 0px 100px;
  min-width: 615px;
  /* max-width: 1000px; */
}

.contact-form__title {
  align-self: center;
}

.contact-form__input-label {
  margin-top: 20px;
  cursor: text;
}

.contact-form Button {
  margin: 40px auto;
}
